#features {
  align-items: center;
  background-color: var(--clr-neutral-200);
  display: flex;
  flex-direction: column;
  gap: 8.125rem;
  padding-bottom: 3.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 3.5rem;
  position: relative;

  &::before {
    background-image: url('../../images/bg-curve-mobile.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    content: ' ';
    height: 53px;
    position: absolute;
    top: -53px;
    left: 0;
    right: 0;
  }

  & a {
    align-items: center;
    border-bottom: .125rem solid var(--clr-accent-cyan-400);
    color: var(--clr-accent-cyan-400);
    display: flex;
    gap: .5rem;
    margin-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .75rem;
    text-decoration: none;
    width: max-content;

    & img {
      height: 1.5rem;
      width: 1.5rem;
    }

    &:hover {
      border-bottom-color: var(--clr-accent-cyan-200);
      color: var(--clr-accent-cyan-200);

      & img {
        filter: brightness(1.2);
      }
    }
  }

  & blockquote {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem var(--clr-primary-900-a);
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1.5rem 2rem 2.25rem;
    width: 85%;

    & > img {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 80rem) {
    flex-direction: row-reverse;
    gap: 80px;
    padding-bottom: 6.25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 7rem;

    & > img {
      width: 45%;
    }

    & a {
      margin-left: 0;
    }

    & blockquote {
      margin-left: 0;
      width: 50%;
    }
  }
}

.author {
  align-items: center;
  display: flex;
  gap: .5rem;

  & img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  gap: .125rem;
  letter-spacing: -0.03em;
  line-height: normal;
  margin: 0;

  & b {
    font-size: var(--fs-200);
  }
}