header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 2.25rem;
  margin: 2rem 2rem 8.75rem;

  & img {
    height: 100%;
    width: auto;
  }

  @media (min-width: 80rem) {
    height: 3.5rem;
    margin: 4rem 3.75rem 6.25rem;
  }
}

.navbar {
  display: flex;
  gap: 2rem;

  @media (min-width: 80rem) {
    gap: 3.125rem;
  }
}