$primary-900: hsl(243, 87%, 12%);
$accent-blue: hsl(224, 93%, 58%);
$accent-cyan: hsl(170, 45%, 43%);

:root {
  --clr-primary-900: #{$primary-900};
  --clr-primary-900-a: #{transparentize($primary-900, .65)};
  --clr-primary-700: hsl(238, 22%, 44%);
  --clr-accent-blue-400: #{$accent-blue};
  --clr-accent-blue-200: #{lighten($accent-blue, 10%)};
  --clr-accent-cyan-400: #{$accent-cyan};
  --clr-accent-cyan-200: #{lighten($accent-cyan, 15%)};
  --clr-neutral-200: hsl(240, 75%, 98%);
  --clr-neutral-gray: hsl(0, 0%, 75%);

  --ff-primary: 'Open Sans';
  --ff-secondary: 'Raleway';

  --fs-100: .625rem;
  --fs-200: .875rem;
  --fs-300: .9375rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;

  --fw-400: 400;
  --fw-700: 700;
}